* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 1px;
}
body {
    font-family: 'Roboto', sans-serif;
    /*margin: 1px;*/
}
header {
    font-family: 'Oswald', sans-serif;
}


.nav-item::after{
    content:'';
    display:block;
    width:0px;
    height:2px;
    background:#fec400;
    transition: 0.2s;}

.nav-item:hover::after{
    width:100%;}

.navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link,.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover{color:#fec400;}
.nav-link{
    padding:15px 5px;
    transition:0.2s;}

.dropdown-item.active, .dropdown-item:active{
    color:#212529;}

.dropdown-item:focus, .dropdown-item:hover{
    background:#fec400;}


h2 {
   width: 100%; 
   text-align: center; 
   border-top: 1px solid #000; 
   line-height: 0.1em;
   margin: 10px 0 20px;
   box-shadow: inset 0 -3px 0 0 grey;


} 

h2 span { 
    background:#fff; 
    padding:0 10px;
    border-radius: 25%;
}
.firstimage  {
    width: 100%;
    position: relative;
    margin-top: 20px;
}

#first-row-aboutus {
   position: absolute;
    color: white;
    top: 30%;
    left: 16px;

}
h6 {
    line-height: 33px;
}


#businessimage h4 {
    position: absolute;
    right: 19%%;
    margin-top: 20%;
}


.secondrowaboutus h4 {
    position: absolute;
    margin-top: 5%;
    right: 18%;
    word-break: keep-all;
    width: 20%;
}

.businesslist li {
    margin: 4px;
    margin-left: 35px;
   
    list-style-type: square;
}



#aboutus-text {
    position: relative;
    left: 25%;
    width: 50%;
    text-align: center;
    z-index: 99;


    
}

#aboutus-text h3, h5 {
    color: #ffffff;
    font-weight: bold;
    text-transform: none;
    margin-bottom: 0;
    margin-top: 0;
    line-height: 0.8;
    text-shadow: 0 0 30px #fff;
    transform: translateZ(20px);
    -webkit-transform: translateZ(20px);
    -moz-transform: translateZ(20px);
    color: hsla(0, 0%, 0%, 0);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    letter-spacing: 100px;
    opacity: 0;
    -webkit-animation: OpeningSequence 18.2s ease forwards;
    -moz-animation: OpeningSequence 18.2s ease forwards;
    animation: OpeningSequence 18.2s ease forwards;
    animation-iteration-count: 1;
}

#aboutus-text h3 {
    font-size: 30px;
    color: white;
}

#aboutus-text h5 {
    font-size: 18px;
   	line-height: 25px;
}

#title-text,
#secondtitle,
#subtitle {
    letter-spacing: 0px;
    opacity: 1;
    transform: translateZ(20px);
    -webkit-transform: translateZ(20px);
    -moz-transform: translateZ(20px);
}

#title-text {
    text-shadow: 0 0 15px #fff;
}

#secondtitle {
    text-shadow: 0 0 5px #fff;
}


#subtitle {
    text-shadow: 0 0 0px #fff;
}

#subtitle {
    margin-top: 30px;
}

@-webkit-keyframes OpeningSequence {
    0% {
        letter-spacing: 50px;
        opacity: 0;
        transform: translateZ(130px);
        -webkit-transform: translateZ(130px);
        -moz-transform: translateZ(130px);
    }
    100% {
        letter-spacing: 5px;
        opacity: 1;
        transform: translateZ(20px);
        -webkit-transform: translateZ(20px);
        -moz-transform: translateZ(20px);
    }
}

@-moz-keyframes OpeningSequence {
    0% {
        letter-spacing: 50px;
        opacity: 0;
        transform: translateZ(130px);
        -webkit-transform: translateZ(130px);
        -moz-transform: translateZ(130px);
    }
    100% {
        letter-spacing: 5px;
        opacity: 1;
        transform: translateZ(20px);
        -webkit-transform: translateZ(20px);
        -moz-transform: translateZ(20px);
    }
}

@keyframes OpeningSequence {
    0% {
        letter-spacing: 50px;
        opacity: 0;
        transform: translateZ(130px);
        -webkit-transform: translateZ(130px);
        -moz-transform: translateZ(130px);
    }
    100% {
        letter-spacing: 5px;
        opacity: 1;
        transform: translateZ(20px);
        -webkit-transform: translateZ(20px);
        -moz-transform: translateZ(20px);
    }
}
@media screen and (max-width: 600px) {
  h3 {
    font-size: 15px;
  }
  h6 {
    font-size: 10px;
  }


}
