* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	margin: 5px;
}
body {
	font-family: 'Roboto', sans-serif;
	/*margin: 1px;*/
}
header {
	font-family: 'Oswald', sans-serif;
}
.nav-item::after{
    content:'';
    display:block;
    width:0px;
    height:2px;
    background:#fec400;
    transition: 0.2s;}

.nav-item:hover::after{
    width:100%;}

.navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link,.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover{color:#fec400;}
.nav-link{
    padding:15px 5px;
    transition:0.2s;}

.dropdown-item.active, .dropdown-item:active{
    color:#212529;}

.dropdown-item:focus, .dropdown-item:hover{
    background:#fec400;}

.rowwrapper {
	width: 100%;
	height: 400px;
	position: relative;
}

.wrapthetext img {
	position: absolute;
}
.rowwrapper:after {
	background: rgba(0,75,100,0.43);
	content:"";
	display:block;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin: 5px;

}

.wrapthetext h6 {
	top: 40%;
	left: 25px;
	position: absolute;
	
	word-break: keep-all;
	width: 50%;
	z-index: 1;

}

.wrapthetext h4 {
	color: white;
	top: 30%;
	position: absolute;
	left: 25px;
	z-index: 1;

}
.btn {
	left: 25px;
	bottom: 5%;
	position: absolute;
	border-radius: 5%;
	background-color: teal;
z-index: 1;
  border: 1px solid white;
  color: white;
  padding: 10px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.9;
  transition: 0.3s;
  text-transform: uppercase;
}

.btn:hover {opacity: 0.6}

