* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#contactus{
  background-color: #0C7489;
  letter-spacing: 2px;
  }
#contactus a{
  color: #fff;
  text-decoration: none;
}



.body2 {
    border: 1px solid rgba(255, 255, 255, .25);
    width: 377px;
    background: rgba(37, 40, 42, 0.8);
    height: 100%;
    margin-left: 75px;
}

input#name {
    width: 87%;
    margin-left: 24px;
}

label.form-label {
    color: white;
    float: left;
    padding: 0px 21px;
    margin-top: 17px;
}

textarea#message {
    height: 110px;
    width: 87%;
    margin-left: 24px;
}

button.button.primar {
    border-radius: 7px;
    width: 50%;
    margin-left: 25%;
    height: 45px;
    background: transparent;
    border: 1px solid gold;
    margin-top: 11px;
    font-size: 18px;
    font-weight: bold;
}

p.three {
    margin-top: 13px;
    color: white;
    margin-left: 18px;
}

button.button.primar:hover {
    background: orange;
}


@media (max-width: 575.98px) {

  #contactus{padding-bottom: 800px;}
  #contactus .maps iframe{
    width: 100%;
    height: 450px;
  }
 }


@media (min-width: 576px) {

   #contactus{padding-bottom: 800px;}

   #contactus .maps iframe{
     width: 100%;
     height: 450px;
   }
 }

@media (min-width: 768px) {

  #contactus{padding-bottom: 350px;}

  #contactus .maps iframe{
    width: 100%;
    height: 850px;
  }
}

@media (min-width: 992px) {
  #contatti{padding-bottom: 200px;}

   #contatti .maps iframe{
     width: 100%;
     height: 700px;
   }
}


