body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



  .bg {
	background-image:
	linear-gradient(to bottom, rgba(45, 46, 52, 0.52), rgba(17, 19, 93, 0.53)),
	url('../images/Landingpage/backgroundfull.jpg');
	background-size: cover;
	height: 100%;



}
.hero-text {
<<<<<<< HEAD
	text-align: center;
	margin-top: 10%;

=======
	position: absolute;
	top: 20%;
	right: 45%;
	text-align: center;
>>>>>>> 7f6c631a4296f538662d3756efa015670833694d

}

a {
	font-size: 30px;
	opacity: 0.5;
	text-decoration: none;
	background-color: transparent;
	color: black;
}

a:hover {
	opacity: 1;
}





