* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Roboto', sans-serif;
	/*margin: 1px;*/
}
header {
	font-family: 'Oswald', sans-serif;
}

/*body {
  background-color: #f1f1f1;
  padding: 20px;
  font-family: Arial;
}*/

/* Center website */
hr {
  border:none;
  height: 20px;
 	width: 95%;
	height: 50px;
	margin-top: 0;
	border-bottom: 1px solid #1f1209;
	box-shadow: 0 20px 20px -20px #333;
  margin: -50px auto 10px; 
}

.nav-item::after{
	content:'';
	display:block;
	width:0px;
	height:2px;
	background:#fec400;
	transition: 0.2s;}

.nav-item:hover::after{
	width:100%;}

.navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link,.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover{color:#fec400;}
.nav-link{
	padding:15px 5px;
	transition:0.2s;}

.dropdown-item.active, .dropdown-item:active{
	color:#212529;}

.dropdown-item:focus, .dropdown-item:hover{
	background:#fec400;}

.main {
  max-width: 1000px;
  margin: auto;
}

.main h2 {
  font-size: 50px;
  word-break: break-all;
}

.works {
  margin: 8px 8px;
}

/* Add padding BETWEEN each column */
.works,
.works > .column {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 30%;
}

.column-arrow {
  float: left;
  width: 5%;
  margin: 0 auto;
  margin-top: 18%;
  font-size: 70px;
  text-align: center;

}
/* Clear floats after rows */ 
.works:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  text-align: center;
  
}
.carousel-caption h2 {
	word-break: keep-all;
}


li {
	padding: 2px 15px;
}

li a.dropdown-item {
	color: teal;

}


li a:hover {
	font-size: 120%;


}
h2 {
	font-size: 30px;
	font-weight: bolder;
}

.btn {
background-color: #EA7C3C;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.9;
  transition: 0.3s;
  text-transform: uppercase;
}

.btn:hover {opacity: 0.6}





/*.carousel-item:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  
  
}*/

.carouselslide:after {
	background: rgba(0,75,100,0.53);
	content:"";
	display:block;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;

}




/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

	
/*	border: 1px solid black;*/
}
.section-header {
	text-align: center;
	margin-bottom: 30px;
	margin-top: 15px;
}
.section-header p {
	font-size: 18px;

}
.single-service {
	border: 1px solid grey;
	text-align: center;
	background: white;
	height: 600px;
}
.service-bg {
	height: 200px;
	position: relative;
}
.service-bg-1 {
	background-image: url('../images/home/businessregistration.jpg');
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;

}
.service-bg-2 {
	background: url("../images/home/accountingservices.jpg");
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
}
.service-bg-3 {
	background: url("../images/home/licensesandpermits.jpg");
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
}
.service-bg h2 {
	color: white;
	background: #EA7C3C;
	opacity: 0.9;
	border: 1px solid tomato;
	font-size: 17px;
	text-align: center;
	font-weight: 700;
	padding: 15px;
	position: absolute;
	left: 8%;
	width: 84%;
	margin: 0;
	bottom: -25px;
	border-radius: 50px;
	letter-spacing: 2px;
	word-break: keep-all;

}

.single-service:hover .service-bg h2 {
	background: #fff;
	transition: .9s;
	color: tomato;

}
.service-text {
	padding: 50px 30px 20px;
	font-size: 13px;
	font-weight: 400;

}

.service-text p:last-child {
	margin: 0;
	line-height: 1.8;

}
.btn-area {
	display: inline-block;
	color: #333;
	font-size: 17px;
	font-weight: 700;
	margin-top: 30px;
	text-transform: capitalize;
}

#multi-item-example {
	margin: 0 auto;

}

.mission {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 20%;
  height: 350px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
  border-radius: 20%;
  margin-bottom: 5px;
}

.mission:hover .overlay {
  opacity: 1;
}



svg {
    display: block;
    font: 10.5em 'Roboto';
    width: 960px;
    height: 300px;
    margin: 0 auto;
}



.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
    stroke: #FD7D00;
	animation-delay: -1;
}

.text-copy:nth-child(2){
	stroke: #CD533B;
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke: #3AAFA9;
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: #004E64;
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: teal;
	animation-delay: -5s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}


.wordwrap {
	display: inline-block;
	color: white;
	font-size: 10px;
	width: 5px;
	text-align: center;
}

@media only screen and (max-width: 767px) {
	.single-service {
		margin-top: 30px;

	}
	.service-bg h2 {
		font-size: 13px;


	}
	.carousel-caption h2 {
		font-size: 20px;
		text-align: center;
		word-break: keep-all;

	}
	div .btn {
		 display: block;}

	#testimonials {
		font-size: 10px;
	}

	.mission {
		width: 100%;
	}

	
	
}


@media screen and (max-width: 900px) {
  .column {
    width: 33%;
  }

  .image {
  	padding-bottom: 15px;
  }
}


@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}


@media screen and (min-width: 901px) {
  .image {
    padding-bottom: 15px;
  }

}

@media only screen and (max-width: 990px) and (min-width: 750px) {
	.service-text {
	padding: 30px 25px 20px;
	font-size: 10px;
	font-weight: 400;

}
	.service-bg {
	height: 300px;
}
}



